<div class="header">
  <div class="nav-firstpart">
    <div class="logo">
      <img class="logo" src="assets/header/logo_large.png" alt="">
    </div>
    <div class="searchBar">
      <input type="text" name="search" placeholder="Search">
    </div>
  </div>
  <div class="nav-secondpart">
    <img src="assets/header/notification.png" alt="notification" class="notification">
  
    <img src="assets/header/message.png" alt="message" class="notification">
    
    <img src="assets/header/question.png" alt="question" class="notification">
    
    <img src="assets/header/user.png" alt="user" class="notification">
    
    <label for="male">N.Karapetyan</label>
  </div>
  
  
  
</div>