.header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#3d3d3d;
    padding:3px 0; 
}
 .logo{
    width:88px;
    height:40px; 
    margin-left:-12%; 
}
.nav-firstpart{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
input {
    width: 39vw;
    height:50px;
    background-image: url("/assets/header/search.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    border: solid 1px #ADA9A5;
    margin-left:27%;
}
input::placeholder{
    margin-left:200px;
    font-size:15px;
}
.nav-secondpart{
    display:flex;
    align-items: center;
    color:white;  
  
}
.notification{
    border-left:1px solid grey;
    padding:15px 20px;
} 
img{
    width:22px;
    height:22px;
}

