.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:20%;
    background-color:#3d3d3d;
    padding:3px 30px;
}
.logo{
    width:88px;
    height:40px;
}
input {
    width:500px; 
    height:50px;
    background-image: url("/assets/search.png");
    background-position: 3px center;
    background-repeat: no-repeat;
    border: solid 1px #ADA9A5;
}
input::placeholder{
margin-left:200px;

font-size:15px;
}
.rest{
    display:flex;
    color:white; 
}
.notification{
    border-left: 1px solid white;
    margin:0 10px;
}

