<div class="header">
  <div class="logo">
    <img class="logo" src="assets/logo_large.png" alt="">
  </div>
  <div class="searchBar">
    <input type="text" name="search" placeholder="Search">
  </div>
  <div class="rest">
    <img src="assets/notification.png" alt="notification" class="notification">
   
    <img src="assets/message.png" alt="message" class="notification">
    
    <img src="assets/question.png" alt="question" class="notification">
    
    <img src="assets/user.png" alt="user" class="notification">
 
    <label for="male">N.Karapetyan</label>
  </div>
  
  
  
</div>