<div class="menu-container">
    <div class="menu-item">
        <img src="assets/menu/home.png" alt="">
        <span>Home</span>
        <div class="notification" >
            <span>8</span>
        </div>
        

    </div>
    <div class="menu-item">
        <img class="gallery" src="assets/menu/gallery.png" alt="">
        <span>Gallery</span>

    </div>
    <div class="menu-item">
        <img src="../../assets/menu/message.png" alt="">
        <span>Message</span>
        <div class="notification" >
            <span>10</span>
        </div>

    </div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
    <div class="menu-item"></div>
</div>